.container{
    
    text-align: center; 
    margin-top: 20px auto 0;
}
#color-box {
    width: 200px; 
    height: 200px; 
    background-color: #dfc3c3;}

    #change-color-btn{
        
    
        color: #080116;
        
        width: 200px; 
        height: 200px;
    }
   


